<div class="layout-container marketplace-grid">
  <div class="marketplace-image">
    <img src="/assets/feat/homepage/images/marketplace.png" alt>
  </div>
  <div class="marketplace-content">
    <h2 class="section-heading">Don&rsquo;t miss out! <br>Join our marketplace and earn more.</h2>
    <p class="section-subheading">Sign up now to join a community of vetted experts and start generating new income.
      Seamlessly showcase your services, manage bookings, process payments, and engage with users, all in one place.</p>
    <a ui-button-fill-large href="https://hubs.mereka.io/" target="_blank">Learn More</a>
  </div>
</div>